/* Variables/Colors */

/* https://coolors.co/219ed2-ffc43d-695958-c8ead3-cfffe5 */

:root {
  --base-color: #3fa0d6;
  --accent-color: #ffb60a;
  --accent-color-light: #ffc43d;
  --light-grey: #f7f7f9;
  --dark-grey: #93a0ab;
  --dark-dark-grey: #4a4e52;
  --black: #141414;
  --white: #ffffff;
  --beginner-color: var(--accent-color);
  --intermediate-color: var(--accent-color);
  --expert-color: var(--accent-color);
}

/* Styles applied to all*/

* {
  text-align: center;
}

body {
  background-color: var(--light-grey);
  color: var(--black);
}


/* Global Styles */

video {
  width: 100%;
}

.text-left {
  text-align: left;
}

#next-button-div {
  display: flex;
  align-items: center;
}

#slide-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-button-div {
  margin-left: 2px;
  margin-right: 2px;
}

.option-input {
  width: 50px;
  background-color: red;
}


.answer-option {
  padding: 5px;

  border: solid 1px black;
}


.warning-div {
  font-size: 20px;
  color: red;

  padding-bottom: 10px;
}