/* Variables/Colors */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

:root {
  --base-color: #d9edbf;
  --accent-color: #b99470;
  --light-grey: #b7b7b7;
  --dark-grey: #434343;
  --dark-dark-grey: rgb(34, 34, 34);
  --black: #000000;
  --white: #ffffff;
}

/* Styles applied to all*/

* {
  font-family: "Arvo", sans-serif;
  text-align: center;
}

/* body, html { */
/* margin: 0; */
/* padding: 0; */
/* height: 100%; */
/* } */

body {
  background-color: var(--base-color);
  color: var(--black);
}

/* General Classes */

.bfont {
  font-family: "Bowlby One", sans-serif;
  text-transform: uppercase;
}

/* Bootstrap Overrides */

/* Navbar */
.navbar {
  background-color: var(--white);
  border: solid 4px var(--accent-color);
}
.nav-link {
  color: var(--dark-grey) !important;
}
.nav-link:hover {
  color: var(--dark-dark-grey) !important;
}
.nav-link.nav-link-current {
  font-weight: bold;
  color: var(--black) !important;
  border: solid 1px var(--accent-color);
}

.container-main {
  background-color: var(--white);
  margin-top: 10px;

  border-radius: 100px;
  border: solid 2px var(--dark-grey);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Global Styles */

video {
  width: 100%;
}

.text-left {
  text-align: left;
}

#next-button-div {
  display: flex;
  align-items: center;
}

#slide-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-button-div {
  margin-left: 2px;
  margin-right: 2px;
}

.option-input {
  width: 50px;
  background-color: red;
}

.answer-option {
  padding: 5px;

  border: solid 1px black;
}

.warning-div {
  font-size: 20px;
  color: red;

  padding-bottom: 10px;
}

.footer {
  /* height: 50px; */

  width: 100%;
  bottom: 0;
  /* background-color: #333; */
  /* color: white; */
  text-align: center;
  /* line-height: 50px; */
  /* padding-bottom: 10px; */
}

/* .footer .container { */
/* background-color: red; */
/* background-color: white; */
/* height: 10px; */
/* border: solid 1px black; */

/* border-bottom-left-radius: 100px; */
/* border-bottom-right-radius: 100px; */
/* } */

.footer-fixed {
  position: fixed;
  left: 0;
}

/* .footer-fixed .container { */
/* background-color:red; */
/* width: 50%; */
/* margin-left: 100px; */
/* } */

.footer .container div {
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid var(--dark-grey);
}

.footer-fixed .container div {
  background-color: var(--white);

  padding-bottom: 10px;
}
