/* Variables/Colors */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

:root {
  --footer-height: 60px;
  --main-border-radius: 100px;
  --base-color: #d9edbf;
  --base-color-dark: #d9edbf;
  --accent-color: #b99470;
  --accent-color-dark: #9c7b5a;
  --light-grey: #b7b7b7;
  --light-grey-dark: #848484;
  --light-light-grey: #d5d5d5;
  --dark-grey: #434343;
  --dark-dark-grey: rgb(34, 34, 34);
  --black: #000000;
  --white: #ffffff;
  --highlight-color: #8fbce6; /* E5B876 ecdf8b*/
  --drop-color: #f3dfc1;
  --drop-color-light: rgb(245, 216, 176);
  --correct-color: #4e6e5d; /* 00916E */
  --incorrect-color: #823038; /* 780116 */
}

/* Styles applied to all*/

* {
  font-family: "Arvo", sans-serif;
  text-align: center;

  user-select: none;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: var(--base-color);
  color: var(--black);

  width: 100%;
  min-height: 100%;

  position: relative;
  overflow-x: hidden;

  top: 0;
  bottom: 0;

  padding-bottom: 20px;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 36px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
  font-size: 18px;
}

br {
  line-height: 200%;
}

video {
  width: 100%;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

/* General Classes */

.bfont {
  font-family: "Bowlby One", sans-serif;
  text-transform: uppercase;
}

.invisible {
  display: none;
}

.text-left {
  text-align: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

/* Bootstrap Overrides */

/* Navbar */
.navbar {
  background-color: var(--white);
  border: solid 4px var(--accent-color);
}

.nav-link {
  color: var(--dark-grey) !important;
}

.nav-link:hover {
  color: var(--dark-dark-grey) !important;
}

.nav-link.nav-link-current {
  font-weight: bold;
  color: var(--black) !important;
  border: solid 1px var(--accent-color);
}

#navbar-title {
  padding: 10px;
}

.navbar-title-active {
  border: solid 1px var(--accent-color);
}

/* Container */
.container-main {
  background-color: var(--white);
  margin-top: 10px;

  border-radius: var(--main-border-radius);
  border: solid 2px var(--dark-grey);
  padding-top: 10px;
  padding-bottom: 10px;
}

#overlay .container-main {
  padding-bottom: 20px;
  padding-top: 35px;
}

/* Global Styles TODO */

#slide {
  padding-bottom: 1rem;
}

#slide-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-button-div {
  margin-left: 2px;
  margin-right: 2px;
}

.image-pitch-info {
  border: solid 5px var(--accent-color);
  border-radius: 10px;
  height: 450px;
}

.option-input {
  width: 50px;
  background-color: red;
}

.answer-option {
  padding: 5px;

  border: solid 1px black;
}

.warning-div {
  font-size: 20px;
  color: red;

  padding-bottom: 10px;
}

/* "Footer" styling */

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
}

.footer-fixed {
  position: fixed;
  left: 0;
}

.footer-holder {
  height: 0;
  position: absolute;
}

.footer-holder-active {
  height: var(--footer-height);
  position: relative;
}

.footer .footer-div {
  height: var(--footer-height);
  z-index: -10000;
  padding-top: 10px;
  margin-left: var(--main-border-radius);
  margin-right: var(--main-border-radius);
  border-top: 1px solid var(--light-light-grey);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.footer .footer-div div {
  margin-left: 3rem;
  margin-right: 3rem;
}

.footer-fixed .footer-div {
  background-color: var(--white);

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding-bottom: 10px;
}

/* Buttons */

.button {
  font-size: 16px;
  background-color: var(--light-grey);
  color: var(--white);
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button.nav-button {
  width: 110px;
}

.button.media-button {
  width: 100%;
}

.button:hover {
  background-color: var(--light-grey-dark);
}

.button-accent {
  background-color: var(--accent-color);
}

.button-accent:hover {
  background-color: var(--accent-color-dark);
}

/* Overlay */

#overlay {
  position: absolute;
  z-index: 1000000;
  display: none;

  width: 100%;

  align-items: center;
  text-align: center;

  video {
    width: 100%;
    /* height: auto; */
  }
}

#overlay.overlay-shown {
  display: block;
}

#backdrop {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;

  z-index: 100000;
  display: none;

  width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

#backdrop.backdrop-shown {
  display: block;
}

.media-controls {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;

  margin-top: -8px;

  background-color: var(--light-light-grey);

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  color: var(--dark-dark-grey);
}

.media-button-div {
  display: flex;
  flex: 0;
  padding-right: 0;
  padding-left: 0;
}

.speed-slider-div {
  display: flex;
  flex: 3;

  font-size: 14px;
}

.media-button {
  width: 50px !important;
}

.speed-slider {
  accent-color: var(--accent-color-dark);
  width: 100%;
}

.media-before-div {
  display: flex;
  flex: 0;
  width: 10px;
}

.media-after-div {
  display: flex;
  flex: 0;
  width: 10px;
}

.media-close {
  margin-top: 10px;
}

.radio-container {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.radio-container .radio-item {
  margin: 0 5px 0 0;
  width: 170px;
  height: 50px;
  position: relative;
  background-color: var(--light-light-grey);
  color: var(--dark-dark-grey);
}

.radio-container label,
.radio-container input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radio-container input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.radio-container input[type="radio"]:checked + label,
.Checked + label {
  background: var(--highlight-color);
  color: var(--black);
}

.radio-container label {
  padding: 5px;
  border: 1px solid var(--dark-dark-grey);
  z-index: 90;
}

.radio-container input[type="radio"]:hover {
  cursor: pointer;
}

.answers-div {
  display: flex;
  flex-direction: row;
}

.answers-div-match {
  margin-top: 1rem;
}

.answer-div {
  text-align: center;
  display: flex;
  justify-content: center;

  font-size: 24px;
}

.answer-div-match {
  flex: 1;
  background-color: var(--light-light-grey);

  margin-left: 50px;
  margin-right: 50px;
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  border: solid 1px var(--black);

  cursor: move;
}

.answer-div-select {
  flex: 1;
}

.question-div-match {
  font-size: 24px;
  background-color: var(--drop-color);

  border: solid 1px var(--black);
  padding-top: 1rem;

  height: 100%;
}

.drop-here {
  align-content: center;
  height: 100px;
}

.drop-here-dropped {
  background-color: var(--light-light-grey);

  margin-left: 50px;
  margin-right: 50px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  border: solid 1px var(--black);
}

.drop-here-hovered {
  background-color: var(--drop-color-light);
}
