{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'edit.js') }}"
></script>

<script>
  let entry = {{entry|tojson}}
  let family_options = {{family_options|tojson}}
  let package_manager_options = {{package_manager_options|tojson}}
  let default_desktop_options = {{default_desktop_options|tojson}}
  let upgrade_style_options = {{upgrade_style_options|tojson}}
  let init_system_options = {{init_system_options|tojson}}
</script>

<div class="container-fluid edit-page">
  <div class="view-banner">
    <div class="container">
      <div class="row">
        <div class="col-6 view-entry-banner-left">
          <!-- <label class="edit-label" for="edit-entry-title">Distro Name:</label> -->
          <div>
            <input id="edit-entry-title" type="text" placeholder="Distro Name" value="{{entry.name}}" />
            <span class="error" id="edit-entry-title-error">&nbsp;</span>
          </div>
          <div id="view-entry-rating"></div>
          <input
            type="range"
            min="0"
            max="10"
            value="{{entry.expert_rating}}"
            id="edit-entry-rating"
          />
          <div id="view-entry-difficulty"></div>
          <label class="edit-label" for="edit-entry-difficulty">Difficulty:</label>
          <select id="edit-entry-difficulty">
            <option value="Beginner" {% if entry.experience_level == 'Beginner' %} selected {% endif %}>Beginner</option>
            <option value="Intermediate" {% if entry.experience_level == 'Intermediate' %} selected {% endif %}>Intermediate</option>
            <option value="Expert" {% if entry.experience_level == 'Expert' %} selected {% endif %}>Expert</option>
          </select>
        </div>

        <div class="col-6 view-entry-banner-right">
          <img
            id="edit-entry-image-current"
            class=""
            src="{{entry.logo}}"
            alt="The logo for the {{entry.name}} Linux Distribution"
          />
          <div>
            <input id="edit-entry-image" type="text" placeholder="Logo Image URL" value="{{entry.logo}}" />
            <span class="error" id="edit-entry-image-error">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8 view-entry-left">
        <div class="view-entry-description">
          <textarea id="edit-entry-description" cols="30" rows="7" placeholder="Distro Description">{{entry.description}}</textarea>
          <span class="error" id="edit-entry-description-error">&nbsp;</span>
        </div>

        <div class="row">
          <div class="col-3 view-entry-table-left">Architectures:
            <div id="edit-entry-arch-div">
              <input id="edit-entry-arch-add" type="text" placeholder="Ex: arm64" value="" />
              <button id="edit-entry-arch-button" type="button" class="btn btn-success">+</button>
            </div>
            <div class="error" id="edit-entry-arch-error">&nbsp;</div>
          </div>
          <div class="col-9 view-entry-table-right">
            <div id="view-entry-arches"></div>
          </div>
        </div>

        <div id="edit-entry-dropdowns"></div>
        <div class="row">
          <div class="col-3 view-entry-table-left">Released:</div>
          <div class="col-9 view-entry-table-right">
              <input id="edit-entry-year" type="text" placeholder="Year" value="{{entry.release_year}}" />
              <span class="error" id="edit-entry-year-error">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-3">
        <button id="edit-entry-button" type="button" class="btn btn-primary">Submit</button>
        <button id="edit-entry-discard" type="button" class="btn btn-secondary">Discard Changes</button>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
