{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div class="container container-main">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10" id="slide">
      <h1 class="bfont">Pitch Wizard</h1>
      <img alt="A gif of Bugs Bunny hitting a baseball back at the pitcher."
        src="https://droplet.ethanmt.com/pitching/media/home.gif" />
      <h2>
        Learn how to identify 4 common Baseball pitches: 
        <br/>
        Fastball, Changeup, Curveball, and Knuckleball!
      </h2>
    </div>

    <div class="col-1" id="next-button-div">
      <button type="button" class="btn btn-primary" id="next-button">Begin</button>
    </div>
  </div>
</div>

{% endblock %}