{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'learn.js') }}"
></script>

<script>
  let lesson = {{ lesson| tojson}}
</script>

<div id="container-main" class="container container-main">
  <div class="row">
    <h1 class="bfont" id="lesson-name">{{lesson.lessonName}}</h1>
  </div>
  <div class="row">
    <div class="col-12" id="slide-navigation">
      <button type="button" class="btn btn-secondary">ButtonHere</button>
    </div>
  </div>
  <div class="row">
    <div id="slide"></div>
    <div id="footer-holder" class="footer-holder"></div>
    <div id="footer" class="footer">
      <div class="container">
        <div class="footer-div">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3" id="next-button-div">
              <button
                type="button"
                id="next-button"
                class="button button-bottom"
              >
                Learn
              </button>
            </div>
            <div class="col-3" id="second-button-div">
              <button
                type="button"
                id="second-button"
                class="button button-bottom button-accent"
              >
                Quiz
              </button>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
