{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz_welcome.js') }}"
></script>

<div class="container container-main">
  <div class="row">
    <div id="slide">
      <h2>Quiz Time</h2>
      <img
        alt="A gif of Bugs Bunny tossing a baseball while eating a carrot."
        src="https://droplet.ethanmt.com/pitching/media/quiz.gif"
      />
      <h3 class="">
        Time to test your knowledge!
      </h3>
    </div>

    <div id="footer-holder" class="footer-holder"></div>
    <div id="footer" class="footer">
      <div class="container">
        <div class="footer-div">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6" id="next-button-div">
              <button
                type="button"
                id="next-button"
                class="button button-accent button-bottom"
              >
                Begin
              </button>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
