{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
  let question = {{ question| tojson}}
  let quiz_id = {{ quiz_id | tojson}}
  let question_id = {{ question_id| tojson}}
  let last_question = {{ last_question| tojson}}
  let answered = {{ answered | tojson}}
  let answer = {{ answer| tojson}}
</script>

<div id="container-main" class="container container-main">
  <div class="row">
    <div id="slide"></div>
    <div id="footer-holder" class="footer-holder"></div>
    <div id="footer" class="footer">
      <div class="container">
        <div class="footer-div">
          <div id="next-button-div">
            <button type="button" id="next-button" class="button button-bottom button-accent">
              Next
            </button>
          </div>
          <div id="second-button-div">
            <button type="button" id="second-button" class="button button-bottom">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}