{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_welcome.js') }}"></script>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10" id="slide">
      <h1>Quiz Time</h1>
      <img alt="A gif of Bugs Bunny hitting a baseball back at the pitcher."
      src="https://droplet.ethanmt.com/pitching/media/quiz.gif" />
      <h2>
        Time to test your knowledge!
      </h2>
    </div>

    <div class="col-1" id="next-button-div">
      <button type="button" class="btn btn-primary" id="next-button">Start Quiz</button>
    </div>
  </div>
</div>

{% endblock %}