{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>

<div class="container container-main">
    <div class="row">
        <div id="slide">
            <h1 class="bfont">Test Page</h1>
            <img alt="A gif of Bugs Bunny hitting a baseball back at the pitcher."
                src="https://droplet.ethanmt.com/pitching/media/home.gif" />
            <h2 class="">
                Learn how to identify 4 common Baseball pitches:
                <br />
                Fastball, Changeup, Curveball, and Knuckleball!
            </h2>

        </div>

        <div id="footer" class="footer">

            <div class="container">
                <div>
                    <button type="button" id="next-button">Begin</button>

                    <button type="button" id="next-button">Quiz</button>
                </div>
            </div>

        </div>

    </div>
    <!-- <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" id="next-button">Begin</button>
        </div>
        <div class="col-4">
            <button type="button" id="next-button">Quiz</button>
        </div>
        <div class="col-2"></div>
    </div> -->
    <!-- <div id="footer" class="footer">
        <div class="container container-main">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <button type="button" id="next-button">Begin</button>
                </div>
                <div class="col-4">
                    <button type="button" id="next-button">Quiz</button>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div> -->
</div>

<!-- <div id="footer" class="footer">
    <div class="container container-main">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <button type="button" id="next-button">Begin</button>
            </div>
            <div class="col-4">
                <button type="button" id="next-button">Quiz</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div> -->

{% endblock %}