{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>

<!-- <div class="container container-main">
    <div class="row">
        <div id="slide">
            <h1 class="bfont">Test Page</h1>
            <img alt="A gif of Bugs Bunny hitting a baseball back at the pitcher."
                src="https://droplet.ethanmt.com/pitching/media/home.gif" />
            <h2 class="">
                Learn how to identify 4 common Baseball pitches:
                <br />
                Fastball, Changeup, Curveball, and Knuckleball!
            </h2>

        </div>

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" id="next-button">Begin</button>
        </div>
        <div class="col-4">
            <button type="button" id="next-button">Quiz</button>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<footer>
    <div class="container container-main">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <button type="button" id="next-button">Begin</button>
            </div>
            <div class="col-4">
                <button type="button" id="next-button">Quiz</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</footer> -->

<div class="content">
    <!-- Your page content goes here -->
    Second, use lorem ipsum if you think the placeholder text will be too distracting. For specific projects,
    collaboration between copywriters and designers may be best, however, like Karen McGrane said, draft copy has a way
    of turning any meeting about layout decisions into a discussion about word choice. So don't be afraid to use lorem
    ipsum to keep everyone focused.

    One word of caution: make sure your client knows that lorem ipsum is filler text. You don't want them wondering why
    you filled their website with a foreign language, and you certainly don't want anyone prematurely publishing it.

    Lorem Ipsum All the Things
    Coming full circle, the internet's remixing of the now infamous lorem ipsum passage has officially elevated it to
    pop culture status.

    Bacon Ipsum Generator
    BACON IPSUM GENERATOR
    BECAUSE IT'S THE INTERNET
    There was that time artists at Sequence opted to hand-Sharpie the lorem ipsum passage on a line of paper bags they
    designed for Chipotle—the result being a mixture of avant-garde, inside joke, and Sharpie-stained tables. Those with
    an eye for detail may have caught a tribute to the classic text in an episode of Mad Men (S6E1 around 1:18:55 for
    anyone that didn't). And here is a lorem ipsum tattoo.

    Of course, we'd be remiss not to include the veritable cadre of lorem ipsum knock offs featuring:

    Bacon Ipsum – Served all day. “Bacon ipsum dolor amet chicken turducken spare ribs.”

    Hipster Ipsum – In case you're in need of a “shoreditch direct trade four dollar toast copper mug.”

    Corporate Ipsum – “Leveraging agile frameworks to provide a robust synopsis” from eight to five.

    Legal Ipsum – Fully unlicensed legalese for those times you don't want to pay $400/hr.

    Not to mention, Cupcake Ipsum, Bob Ross Ipsum (“happy little clouds”), and the furry Cat Ipsum. And in case that's
    not enough, check out our very own Ultimate List of Lorem Ipsum Generators.

    So there you have it. Lorem ipsum: the nonsense words unable to fully escape meaning.

    Original Source Text illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?”
    Translation by H. Rackham:


</div>
<div id="footer" class="footer footer-fixed">
    <!-- This is the div that will float or stick to the bottom -->
    Floating Div
</div>

{% endblock %}